[wsl2]
dnsProxy = false
dnsTunneling = false
firewall = true
autoProxy = false
memory = 16GB
swap = 8GB
swapFile = {{ .chezmoi.homeDir }}/wsl-swap.vhdx
networkingMode = Mirrored
guiApplications = true

[experimental]
hostAddressLoopback = true
autoMemoryReclaim = dropcache
