-- vim: set ft=lua.gotmpl :
local wezterm = require("wezterm")
local ram = require("ram")
local config = wezterm.config_builder()
local act = wezterm.action
local nerdfonts = wezterm.nerdfonts

-- config.color_scheme = "Catppuccin Mocha"
config.color_scheme = "Catppuccin Mocha"

-- ==========================================
-- 1. 核心启动与环境配置 (PowerShell 7 & WSL)
-- ==========================================

{{ if eq .chezmoi.os "windows" }}

-- 设置默认启动为 PowerShell 7 (pwsh)
config.default_prog = { "pwsh.exe" }

config.default_domain = 'local'
config.wsl_domains = {
  {
    -- 必填：该域在 WezTerm 中的显示名称
    name = 'WSL:NixOS',
    -- 必填：你 WSL 发行版的准确名称（可以通过在 cmd 运行 `wsl -l -v` 查看）
    distribution = 'NixOS',
    -- 选填：进入 WSL 后的初始默认工作目录
    default_cwd = '~',
  },
}

{{ else }}

config.default_prog = { "zsh" }

{{ end }}

-- ==========================================
-- 2. 界面与外观优化
-- ==========================================
config.font = wezterm.font_with_fallback({
	"JetBrainsMono Nerd Font Mono",
	"Maple Mono NF CN",
	"Microsoft YaHei",
})

config.window_padding = {
	left = 30,
	right = 30,
	top = 10,
	bottom = 10,
}

config.font_size = 16.0

-- Windows 11/10 磨砂玻璃效果
config.win32_system_backdrop = "Acrylic"
config.window_background_opacity = 1.0
-- 隐藏标题栏（仅保留调整大小的边框）
-- config.window_decorations = "RESIZE"
config.default_cursor_style = "BlinkingUnderline"
config.window_decorations = "RESIZE"
-- 隐藏添加标签的 "+" 按钮
config.show_new_tab_button_in_tab_bar = false
config.use_fancy_tab_bar = false

local colors = wezterm.color.get_builtin_schemes()[config.color_scheme]

-- 2. 定义图标常量（使用 Nerd Font 字符）
local ICON_WSL = wezterm.nerdfonts.linux_nixos or "󱄅"
local ICON_WIN = wezterm.nerdfonts.custom_windows or ""
local SPLIT_ICONS = { "²", "³", "⁴", "⁵", "⁶", "⁷", "⁸", "⁹", "¹⁰" }

-- 3. 动态判断并格式化标签标题
wezterm.on("format-tab-title", function(tab, tabs, panes, config, hover, max_width)
	local pane = tab.active_pane
	local icon = ICON_WIN
  local icon_color = "#0078D6"
	local title_text = ""
	local tab_panes = tab.panes -- 获取当前 Tab 的所有分屏列表
	local panes_size = #tab_panes -- 计算当前 Tab 的分屏总数
	local split_icon = ""
	local tab_index = tab.tab_index

	if panes_size > 1 then
		split_icon = SPLIT_ICONS[panes_size - 1]
	end
	-------------------------------------------------------------
	-- 优先检测用户是否手动修改了 Tab 标题
	-------------------------------------------------------------
	local is_wsl_process = pane.foreground_process_name and string.match(pane.foreground_process_name, "wsl")
	if tab.tab_title and #tab.tab_title > 0 then
		if is_wsl_process then
			icon = ICON_WSL
		end
		title_text = tab.tab_title
	else
		-------------------------------------------------------------
		-- 用户未手动修改标题时，自动推断标题
		-------------------------------------------------------------
		title_text = string.gsub(pane.title, "%.exe", "")
		if is_wsl_process then
			icon = ICON_WSL
	    if tab.is_active then
        icon_color = "#5277C3";
      else
        icon_color = "#7EBAE4";
      end
			if string.match(title_text, "wsl.-") or title_text == "wsl" then
				title_text = "WSL"
			end
		end
	end
  icon = " " .. icon

	-------------------------------------------------------------
	-- 4. 拼接最终显示的标签文本格式
	local final_title = string.format("%s %s.%s ", split_icon, tab_index + 1, title_text)
	-- 5. 根据是否是当前活跃标签，返回不同的样式
	if tab.is_active then
		return {
			{ Attribute = { Intensity = "Bold" } },
		  { Foreground = { Color = icon_color } },
      { Text = icon },
		  { Foreground = { Color = colors.tab_bar.active_tab.fg_color } },
			{ Text = final_title },
		}
	end

	return {
		{ Foreground = { Color = icon_color } },
    { Text = icon },
    { Foreground = { Color = colors.tab_bar.inactive_tab.fg_color } },
		{ Text = final_title },
	}
end)

-- arg1 window arg2 pane
wezterm.on("update-status", function(window, _)
	local name = window:active_key_table()
	local mode = ""
	if name then
		if name == "copy_mode" then
			mode = "Copy"
		elseif name == "resize_pane" then
			mode = "Resize"
		end
	else
		mode = "Normal"
	end
	mode = string.format(" %s %s ", nerdfonts.fa_flag, mode)
	window:set_left_status(wezterm.format({
		{ Background = { Color = colors.ansi[5] } },
		{ Foreground = { Color = colors.ansi[1] } },
		{ Text = mode },
		{ Background = { Color = colors.background } },
		{ Text = " " },
	}))

	local mem = string.format("  %s", ram:update(ram.default_opts))
	window:set_right_status(wezterm.format({
		{ Background = { Color = colors.ansi[5] } },
		{ Foreground = { Color = colors.ansi[1] } },
		{
			Text = mem,
		},
	}))
end)
-- ==========================================
-- 快捷键配置 (快速新建与分屏)
-- ==========================================
config.leader = { key = "b", mods = "CTRL", timeout_milliseconds = 1000 }

config.keys = {
	-- CTRL + SHIFT + t : 快速打开下拉菜单选择终端
	{ key = "t", mods = "LEADER", action = wezterm.action.ShowLauncher },
	-- 分屏 (默认复制当前运行的 Shell)
	{ key = "%", mods = "LEADER|SHIFT",
    action = wezterm.action_callback(function(window, pane)
      -- Here you can dynamically construct a longer list if needed
      local workspaces = {
        { id = 'split-h-wsl',  label = '水平分屏：WSL' },
        { id = 'split-h-pwsh',  label = '水平分屏：PWSH' },
      }
      window:perform_action(
        act.InputSelector {
          action = wezterm.action_callback(
            function(inner_window, inner_pane, id, label)
              if not id and not label then
                wezterm.log_info 'cancelled'
              else
                inner_window:perform_action(
                  act.SplitHorizontal({ domain = { DomainName = 'WSL:NixOS' } }),
                  inner_pane
                )
              end
            end
          ),
          title = 'Choose Domain',
          choices = workspaces,
          fuzzy = true,
          fuzzy_description = 'Fuzzy find and/or make a workspace',
        },
        pane
      )
    end),
  },
  { key = '"', mods = "LEADER|SHIFT",
    action = wezterm.action_callback(function(window, pane)
      -- Here you can dynamically construct a longer list if needed
      local workspaces = {
        { id = 'split-v-wsl',  label = '垂直分屏：WSL' },
        { id = 'split-v-pwsh',  label = '垂直分屏：PWSH' },
      }
      window:perform_action(
        act.InputSelector {
          action = wezterm.action_callback(
            function(inner_window, inner_pane, id, label)
              if not id and not label then
                wezterm.log_info 'cancelled'
              else
                inner_window:perform_action(
                  act.SplitHorizontal({ domain = { DomainName = 'WSL:NixOS' } }),
                  inner_pane
                )
              end
            end
          ),
          title = 'Choose Domain',
          choices = workspaces,
          fuzzy = true,
          fuzzy_description = 'Fuzzy find and/or make a workspace',
        },
        pane
      )
    end),
  },
	{ key = '"', mods = "LEADER|SHIFT", action = wezterm.action.SplitVertical({ domain = "CurrentPaneDomain" }) },

	-- 切换面板
	{ key = "h", mods = "LEADER", action = wezterm.action.ActivatePaneDirection("Left") },
	{ key = "j", mods = "LEADER", action = wezterm.action.ActivatePaneDirection("Down") },
	{ key = "k", mods = "LEADER", action = wezterm.action.ActivatePaneDirection("Up") },
	{ key = "l", mods = "LEADER", action = wezterm.action.ActivatePaneDirection("Right") },

	-- 模拟 Tmux 调整窗格大小 (Ctrl + b 激活后，按 Ctrl + 方向键微调)
	{ key = "h", mods = "LEADER|SHIFT", action = wezterm.action.AdjustPaneSize({ "Left", 5 }) },
	{ key = "l", mods = "LEADER|SHIFT", action = wezterm.action.AdjustPaneSize({ "Right", 5 }) },
	{ key = "k", mods = "LEADER|SHIFT", action = wezterm.action.AdjustPaneSize({ "Up", 5 }) },
	{ key = "j", mods = "LEADER|SHIFT", action = wezterm.action.AdjustPaneSize({ "Down", 5 }) },

	-- 切换标签
	{ key = "1", mods = "LEADER", action = wezterm.action.ActivateTab(0) },
	{ key = "2", mods = "LEADER", action = wezterm.action.ActivateTab(1) },
	{ key = "3", mods = "LEADER", action = wezterm.action.ActivateTab(2) },
	{ key = "4", mods = "LEADER", action = wezterm.action.ActivateTab(3) },
	{ key = "5", mods = "LEADER", action = wezterm.action.ActivateTab(4) },
	{ key = "6", mods = "LEADER", action = wezterm.action.ActivateTab(5) },
	{ key = "7", mods = "LEADER", action = wezterm.action.ActivateTab(6) },
	{ key = "8", mods = "LEADER", action = wezterm.action.ActivateTab(7) },
	{ key = "9", mods = "LEADER", action = wezterm.action.ActivateTab(-1) },

	-- 进入复制模式
	{ key = "Enter", mods = "LEADER", action = wezterm.action.ActivateCopyMode },
	{ key = "z", mods = "LEADER", action = wezterm.action.TogglePaneZoomState },
	{ key = "r", mods = "CTRL|SHIFT", action = wezterm.action.ReloadConfiguration },
	{ key = "w", mods = "CTRL|SHIFT", action = wezterm.action.CloseCurrentTab({ confirm = true }) },
	{
		key = "r",
		mods = "LEADER",
		action = act.ActivateKeyTable({
			name = "resize_pane",
			one_shot = false,
		}),
	},

	{
		key = ",",
		mods = "LEADER",
		action = wezterm.action.PromptInputLine({
			description = "Enter new tab title:",
			action = wezterm.action_callback(function(window, _, line)
				if line then
					window:mux_window():active_tab():set_title(line)
				end
			end),
		}),
	},
	-- 向左移动标签页
	{
		key = "<",
		mods = "LEADER|SHIFT",
		action = wezterm.action.MoveTabRelative(-1),
	},
	-- 向右移动标签页
	{
		key = ">",
		mods = "LEADER|SHIFT",
		action = wezterm.action.MoveTabRelative(1),
	},
}

config.key_tables = {
	resize_pane = {
		{ key = "LeftArrow", action = act.AdjustPaneSize({ "Left", 1 }) },
		{ key = "h", action = act.AdjustPaneSize({ "Left", 1 }) },
		{ key = "RightArrow", action = act.AdjustPaneSize({ "Right", 1 }) },
		{ key = "l", action = act.AdjustPaneSize({ "Right", 1 }) },
		{ key = "UpArrow", action = act.AdjustPaneSize({ "Up", 1 }) },
		{ key = "k", action = act.AdjustPaneSize({ "Up", 1 }) },
		{ key = "DownArrow", action = act.AdjustPaneSize({ "Down", 1 }) },
		{ key = "j", action = act.AdjustPaneSize({ "Down", 1 }) },
		{ key = "Escape", action = "PopKeyTable" },
	},
}

return config
